body
  background-color: #f9f7f3
  font-size: 16px
  line-height: 1.5em

ol, ul
  padding: 0

nav
  background: green
  ul
    margin: 0
    li
      margin-right: .5em

header
  min-height: 6em
  background: green

.logo
  width: 48%

.vcard
  width: 48%
  text-align: right

a
  text-decoration: none
p
  max-width: 32rem
section
  padding: 0 5px 0 5px
  margin-bottom: 6em
.half
  img
    width: 100%
    height: 100%

.form-row
  width: 100%
  font-size: 1em
  label
    font-size: 1em
  input[type=text], input[type=email], textarea
    font-size: 1em
    width: 100%

.hidden
  display: none

