<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/master.css')}}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
    <script type="text/javascript">
    <!-- livereload script -->
      document.write('<script src="http://'
      + (location.host || 'localhost').split(':')[0]
      + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
    </script>
  </head>
  <body>
    <header>
      <div class="logo">pdkok</div>
    </header>
    <nav>
      <ul>
        <li><a href="#wie">Over Mij</a></li>
        <li><a href="#lessen">Lessen</a></li>
        <li><a href="#arrangementen">Arrangementen</a></li>
      </ul>
    </nav>
    <section class="overmij">
      {{ data.intro.html | safe }}
    </section>
    <section class="lessen">
      {{ data.lesson.html | safe }}
    </section>
    <section>
      <h2>Arrangementen</h2>
    </section>
    <section>
      <h2>Agenda</h2>
      <p>Als muzikant wil ik graag gezien maar vooral gehoord worden.
    </section>
  </body>
</html>
