doctype 5
html(lang="nl", ng-app="app")
    head
        title= data.title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link( href=url_for('static', filename='css/master.css'),
                rel='stylesheet',
                type='text/css')
        script(type='text/javascript' ,
                src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js')
        script(type='text/javascript').
            <!-- livereload script -->
            document.write('<script src="http://'
            + (location.host || 'localhost').split(':')[0]
            + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
    body
        header
            .logo
                pdekok
            .vcard(lang='nl', itemscopei, itemtype="https://schema.org/Person)
                .namei.hidden(itemprop="name") Pieter de Kok
                .email(itemprop="email") hallo@pdekokarrangementen.nl
                a.tel(itemprop="telephone", href='tel:+3165174355') +316 517 43455
                .adr.hidden(itemscope)
                    .street-adress(itemprop="") vlimmenhoef 7
                    span.locality Tilburg
                    span.country-name Nederland

                br
                a(type='text/directory', href='http://h2vx.com/vcf/www.yeeeah.com')  Sla mijn contactgegevens op.

        nav
            ul
                li: a(href='#wie', title='Over mij') Over mij
                li: a(href='#les', title='Lessen') Lessen
                li: a(href='#', title='Over mij') Arrangementen
                li: a(href='#', title='Over mij') Foto's
        section(class='intro',
            id='intro')
            include intro.jade
        section.les#les
        section(class='arrang',
            id='arrang')
            include lesson.jade
        section(class='foto',
            id='foto')
        section.contract#contact
            include contact.jade
        footer
            &copy; 2014 - Pieter de Kok
        script(type='text/javascript' ,
                src=url_for('static', filename='js/modernizr.custom.55230.js'))
        script(type='text/javascript' ,
                src=url_for('static', filename='js/app.js'))
        script(type='text/javascript' ,
                src=url_for('static', filename='js/controllers/mail.js'))
        script(type='text/javascript' ,
                src=url_for('static', filename='js/controllers/agenda.js'))

