h2.cardheader#contact Contact
form.form( ng-controller='MailCtrl',
    name="sendMail")
        .form-row
            label(name='name') naam
                input(type='text',
                    name='name',
                    ng-minlenght=3,
                    ng-model='form.name'
                    required)
        .form-row
            label(name='email') email
                input(type='email',
                      name='email',
                      ng-model='form.email',
                      required)
        .form-row
            label(name='subject') onderwerp
                input(type='text',
                    name='subject',
                    ng-minlenght=3,
                    ng-model='form.subject'
            )
        .form-row
            label(name='bericht') bericht
                textarea(ng-model='form.body', required)
        div
            label(name='copy') Stuur een kopie naar mijzelf
                input(type='checkbox', name='copy')
        button(ng-click='send_mail()', ng-disabled='sendMail.$invalid') verstuur

.vcard(lang='nl', itemscopei, itemtype="https://schema.org/Person)
    .name(itemprop="name") Pieter de Kok
    .email(itemprop="email") hallo@pdekokarrangementen.nl
    a.tel(itemprop="telephone", href='tel:+3165174355') +316 517 43455
    .adr(itemscope)
        .street-adress(itemprop="") vlimmenhoef 7
        span.locality Tilburg
        span.country-name Nederland

    a(type='text/directory', href='http://h2vx.com/vcf/www.yeeeah.com')  Sla mijn contactgegevens op.
