.half
    img(src=url_for('static', filename='img/#{ data.intro.vars.avatar }'))

h2.cardheader Wie ben ik?
.half
   |{{ data.intro.html | safe }}

h3 Evenmenten
.agenda(ng-controller='AgendaController')
    .event(itemscope, itemtype="http://schema.org/Event", ng-repeat='event in events')
        div(itemprop="description") [% event.summary %]
        div(itemprop="name") [% event.location %]
        span(itemprop="startDate", datetime="[% event.dtstart.date %]") [% event.dtstart.date %]
        span [% event.dtend.date %]
